doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    script(src="/plugins/jquery/jquery.js")
    script(src="/plugins/bootstrap/js/bootstrap.js")
    script(src="/plugins/editor.md/js/editormd.js")
    link(rel="stylesheet", href="/plugins/editor.md/css/editormd.css")
  body
    block content
    script(src="/dist/bundle.js")
