extends base

block content
  h1 大表哥的个人博客

  nav
    span
      a(href='/') 主页
    span
      a(href='/login') 登陆
    span
      a(href='/logout') 注销

  button.btn.btn-primary 走你
  if (success)
    span= success
  if (user)
    span= user.name
