html, body
  margin: 0
  padding: 0

//body
//  background: url('/images/bg.jpg') no-repeat
//  background-size: cover

.welcome
  text-align: center
  height: 50px
  line-height: 50px
  font-size: 40px
  margin-top: 50px
  margin-bottom: 50px

.login-main
  margin-top: 10%

